<header>
  <% logo = image_tag("logo.png", :alt => "Sample App", :class => "round") %>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Sign In", "#" %></li>
    </ul>
  </nav>
<p>Left off at start of <a href="http://ruby.railstutorial.org/chapters/modeling-and-viewing-users-one#top">chapter 6</a></p>
</header>